/* FOOTER */

footer {
    background-color: #0077b6;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Cambay', sans-serif;
    & p {
        font-family: 'Cambay', sans-serif;
    }
}
footer a:hover {
    background-color: #fca311;
    transition-duration: .5s;
    border-radius: 10%;
}
